<div class="wrap">
<% @cocktails.each do |cocktail| %>

  <div class = "col-xs-12 col-sm-4 col-xl-2">

    <div class="tile">
      <img src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80'/>
      <div class="text">
        <h1><%= cocktail.name %></h1>
        <h2 class="animate-text">Cocktail Ingredients</h2>
        <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>
        <div class="dots">
          <%= link_to cocktail_path(cocktail) do %>
          <span></span>
          <span></span>
          <span></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


<!-- https://codemyui.com/card-ui-blog-tiles-layout-pure-css/ -->
