<div>
  <h1><%= @cocktail.name %></h1>
</div>

<ul>
  <% @cocktail.doses.each do |dose| %>
  <li>
    <div><%= dose.ingredient.name %></div>
    <div><em><%= dose.description %></em></div>
 </li>
  <% end %>
</ul>
